<div class="container mt-5">
    <div class="row row-cols-2 row-cols-md-4">
    <!---->
    {{#each movies}}
        <div class="col mb-4">
            <a href="#">
                <div class="card h-100">
                    <img src={{imageurl}} class="movie-cover">
                    <h5 class="text-center card-title">{{title}}</h5>
                </div>
            </a>
        </div>
    {{/each}}
    <!---->
    </div>
</div>