<div class="row">
    <img class="img-thumbnail mx-auto" id="profilepic" src={{pic}}>
</div>
<hr>
<h5 class="text-center">{{fname}} {{lname}}</h5>
<h6 class="text-center text-secondary">{{username}}</h6>