<h4>Hey, {{firstname}}!</h4>
<p>Thank you for registering to TicketOrLeaveIt. To activate your account, please click on the link: </p>
<a style="color: crimson" href="{{activationLink}}">{{activationLink}}</a>
