<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageName}}</title>

    <!-- BS4 Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome 4 Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="css/HBS-images.css">
</head>
<body>
    {{>header}}

    <!-- Carousel -->
    <div id="featuredShows" class="carousel slide" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#featuredShows" data-slide-to="0" class="active"></li>
            <li data-target="#featuredShows" data-slide-to="1"></li>
            <li data-target="#featuredShows" data-slide-to="2"></li>
        </ol>

        <!-- Slides -->
        <div class="carousel-inner" style="height: auto">
            <div class="carousel-item active">
                <a href="/home">
                <img class="d-block w-100 HBS-carousel-img" src="assets/carousel/first.jpg" alt="First slide">
                {{!-- <img class="d-block w-100 HBS-carousel-img" src="assets/carousel/AvengersCivilWar.png" alt="First slide"> --}}
                </a>
            </div>
            <div class="carousel-item">
                <a href="/movies">
                <img class="d-block w-100 HBS-carousel-img" src="assets/carousel/second.jpg" alt="Second slide">
                {{!-- <img class="d-block w-100 HBS-carousel-img" src="assets/carousel/TheConjuring.jpg" alt="Second slide"> --}}
                </a>
            </div>
            <div class="carousel-item">
                <a href="/calendar">
                <img class="d-block w-100 HBS-carousel-img" src="assets/carousel/third.jpg" alt="Third slide">
                {{!-- <img class="d-block w-100 HBS-carousel-img" src="assets/carousel/DoctorWhoTheDayOfTheDoctor.jpg" alt="Third slide"> --}}
                </a>
            </div>
        </div>

        <!-- Controls -->
        <a class="carousel-control-prev" href="#featuredShows" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#featuredShows" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    {{>searchMovie}}

    <!-- Movies -->
    {{>displayMovies}}

    <!-- BS4 Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        
    </script>
</body>
</html>