<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageName}}</title>

    <!-- BS4 Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome 4 Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/HBS-seats.css">
	<link rel="stylesheet" href="css/seats.css">
	
</head>
<body>
    {{>header}}

	<div class="container mt-3">
		<div class="row mb-4">
			<div class="col-md-4 text-center">
				<h5 class="d-inline-block align-top">Free</h5>
				<i class="fa fa-lg fa-square text-success"></i>
			</div>

			<div class="col-md-4 text-center">
				<h5 class="d-inline-block align-top">Selected</h5>
				<i class="fa fa-lg fa-square text-warning"></i>
			</div>

			<div class="col-md-4 text-center">
				<h5 class="d-inline-block align-top">Taken</h5>
				<i class="fa fa-lg fa-square text-danger"></i>
			</div>
		</div>
	
		<div class="jumbotron bg-dark"><h3 class="text-center text-light">Screen</h3></div>
	
		<div class="container" id="seatContainer">

			<input type="checkbox" style="disabled: true;">

			{{#each seatRow}}
			<ol class="seatRow">
				{{#each seatCols}}
					<li class="seat">
						<input type="checkbox" id={{seatID}}>
						<label for={{seatID}}>{{seatID}}</label>
					</li>
				{{/each}}
			</ol>
			{{/each}}
		</div>


		<div class="containerOld">
      <ol>
          <li>
            <ol class="seats">
              <li class="seat">
                <input type="checkbox" id="1A" />
                <label for="1A">1A</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="1B" />
                <label for="1B">1B</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="1C" />
                <label for="1C">1C</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="1D" />
                <label for="1D">1D</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="1E" />
                <label for="1E">1E</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="1F" />
                <label for="1F">1F</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="1G" />
                <label for="1G">1G</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="1H" />
                <label for="1H">1H</label>
              </li>
            </ol>
          </li>
            <li>
              <ol class="seats">
                <li class="seat">
                  <input type="checkbox" id="2A" />
                  <label for="2A">2A</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="2B" />
                  <label for="2B">2B</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="2C" />
                  <label for="2C">2C</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="2D" />
                  <label for="2D">2D</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="2E" />
                  <label for="2E">2E</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="2F" />
                  <label for="2F">2F</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="2G" />
                  <label for="2G">2G</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="2H" />
                  <label for="2H">2H</label>
                </li>
              </ol>
            </li>
            <li>
              <ol class="seats">
                <li class="seat">
                  <input type="checkbox" id="3A" />
                  <label for="3A">3A</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="3B" />
                  <label for="3B">3B</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="3C" />
                  <label for="3C">3C</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="3D" />
                  <label for="3D">3D</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="3E" />
                  <label for="3E">3E</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="3F" />
                  <label for="3F">3F</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="3G" />
                  <label for="3G">3G</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="3H" />
                  <label for="3H">3H</label>
                </li>
              </ol>
            </li>
            <li>
              <ol class="seats">
                <li class="seat">
                  <input type="checkbox" id="4A" />
                  <label for="4A">4A</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="4B" />
                  <label for="4B">4B</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="4C" />
                  <label for="4C">4C</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="4D" />
                  <label for="4D">4D</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="4E" />
                  <label for="4E">4E</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="4F" />
                  <label for="4F">4F</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="4G" />
                  <label for="4G">4G</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="4H" />
                  <label for="4H">4H</label>
                </li>
              </ol>
            </li>
      </ol>
    </div>
    <div class="containerOld">
      <input type="button" id="reserve" value="Reserve" class="btn btn-default" style="margin:0 auto;">
    </div>

	</div>


    <!-- BS4 Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    

	<script type="text/javascript">
    $(document).ready(function() {
      $("#reserve").click(function() {
        if (confirm("Are you sure you want to reserve these seats?"))
        {
          window.location.href = "/payment";
        }
    })
    });
	</script>
</body>
</html>


