.HBS-carousel-img
{
    height: 350px;
}

.movie-cover
{
    max-height: 350px;
    max-width: 75rem;
}


/* anw this is what i did para isang CSS file parin :<
since it will be under a "schedules" div, supposedly ito kukunin nya :<
diko parin maayos grrr bat ganon*/

/*------------ For movie-view -------------*/
.movie-poster
{
    max-height: 500px;
}

.review-dp
{
    max-width: 3rem;
}

/*to render other movies*/
.schedules > .movie-cover
{
    max-height: 250px;
    max-width: 75rem;
}